h1, h2, h3, h4, h5, h6, p, a, li, span, div {
  font-family: sans-serif;
  /*color: #6d645f;*/
  white-space:pre-wrap;
}
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, li::selection, span::selection, div::selection, strong::selection, img::selection {
  background: #DD4814;
  color: white;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
/*img {
  font-size: 0;
}*/
h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
h1 span {
  font-size:.8em;
}
h2 {
  font-weight: 400;
  /*font-size: 1.4em;*/
}
h3 {
  font-family: 'Montserrat', sans-serif;
  display: inline;
  margin: 0;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 400;
}
h4 {
  font-weight: 400;
  margin: 0;
}
.txt_darkgrey {color: #6d645f;}
.txt_lightgrey {color: #CDC6C0;}
.txt_pink {color: #C90062;}
.txt_orange {color: #DD4814;}
.txt_strike {text-decoration: line-through;}
.back_darkgrey {background-color: #6d645f;}
.back_lightgrey {background-color: #CDC6C0;}
.back_pink {background-color: #C90062;}
.back_orange {background-color: #DD4814;}

body > * > * {
  display: flex;
  max-width: 1300px;
  margin: auto;
}
dialog {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  /*padding: 0 0 0 80px;*/
  /*display: none;*/
}
dialog i {
  cursor: pointer;
  position: absolute;
    right: 10px;
    top: 10px;
  /*border: 1px solid white;
  border-radius: 50%;
  padding: 3px;*/
}
dialog > div {
  background-color: #6d645f;
  margin: auto;
  max-width: 500px;
  width: 90%;
  min-height: 400px;
  /* height: 90%; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  /*padding-bottom: 30px;*/
}
dialog > div > div:first-child {
  position: relative;
  padding: 20px 20px 0;
  text-align: justify;
}
.DialogImgRow {
  margin: 30px 0;
  display: flex;
}
.DialogImgRow img {
  width: 50%;
  max-height: 150px;
  object-fit: cover;
}
nav {
  width: 80px;
  /*height: 100%;*/
  /*height: 195px;*/
  overflow: hidden;
  position: fixed;
    /*top:-124px;*/
    /*right: 0;*/
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  transition: height 1s, top 1s;
}
nav:hover {
  transition: height 1s, top 1s;
  /*height: auto;
  position: fixed;
    top:0;*/
}
nav a {
  flex-shrink: 0;
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /*margin: auto;*/
  margin: 10px 0 0 10px;
  border: 1px solid #C90062;
  background-color: rgba(255, 255, 255, 0.5);;
  color: #6d645f;
}
nav a:hover {
  background-color: #C90062;
  color: white;
}
i {
  margin: auto;
}
main {
  width: 100%;
  /*margin: 0 0 0 80px; /* TODO: same as right nav width */
}
.img_wide {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.img_1-4 {
  width: 25%;
  height: 150px;
  object-fit: cover;
}
.img_1-2 {
  width: 50%;
}
.img_round {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin: auto;
}
#intro {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#intro_logo {
  max-width: 400px;
  width: 80%;
  margin: 30px auto 50px;
}
#intro_photosFour {
  display: flex;
}
#cares {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  color: #6d645f;
}
#cares h4 {
  display: inline;
  margin-top: 2px;
}
#cares h3 {
  margin: 10px 0 2px;
}
#cares > div {
  display: flex;
  flex-wrap: wrap;
}
#cares a {
  border-bottom: 1px solid white;
}
#cares a:hover {
  border-bottom: 1px solid #DD4814;
  color: #DD4814;
}
#bons_plans_img {
  width: 96%;
  text-align: right;
}
#bons_plans_img > img {
  max-width: 100%;
}
.cares_picBlock {
  display: flex;
  width: 50%;
}
.cares_priceBlock {
  width: 50%;
}
#cares ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#cares li {
  display: flex;
  justify-content: space-between;
}
#cares li > *:last-child {
  align-self: flex-end;
}
.dotsSpan {
  flex-grow: 1;
  /*border-bottom: 1px dotted;*/
  margin-bottom: 3px;
  background-image: linear-gradient(to right, #6d645f 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
.txt_small {
  font-size: 13px;
  text-transform: lowercase;
}
#plus_circlesWrapper {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.plus_circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  background-color: #DD4814;
  color: white;
}
.plus_circle:hover {
  background-color: #CDC6C0;
  color: #DD4814;
}
#plus h2 {
  /*color: white;*/
}
#plus_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 40px;
}
#plus_logos > img {
  max-width: 80px;
  max-height: 30px;
  object-fit: contain;
  margin: 10px 20px 10px;
}
#contact {
  background-color: #6d645f;
}
#contact_form_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0 40px;
}
#contact_form_section > * {
  width: 40%;
  padding: 20px 20px;
  box-sizing: border-box;
}
input, textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  resize: vertical;
  color: #6d645f;
  /*border: 2px solid #6d645f;*/
}
input:focus, textarea:focus {
  /*background-color: rgba(201,0,98, 0.2);*/
  /*border: 2px inset #C90062;*/
}
.btn {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  /*background-color: #6d645f;*/
  color: white;
  text-transform: uppercase;
  line-height: 2em;
  /*font-weight: bold;*/
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: #C90062;
}
#contact_info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 315px;*/
}
#contact_info > * {
  color: white;
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
}
#contact_info img {
  height: 30px;
}
#contact a:hover {
  color: #C90062;
}
footer {
  background-color: #6d645f;
  color: white;
  text-align: center;
  padding: 5px 20px 15px;
  font-size: .8em;
}
/*footer > * {
  margin-bottom: 5px;
}*/
footer a {
  text-decoration: none;
  color: white;
  /*margin: 5px;*/
}
footer > a:hover {
  color: #C90062;
}
.feed:hover {
  color: rgb(43, 201, 175);
}


@media (max-width: 1000px) {
  .cares_picBlock {
    width: 30%;
  }
  .cares_priceBlock {
    width: 70%;
  }
  #contact_form_section > * {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .cares_picBlock {
    width: 100%;
    order: 1;
  }
  #bons_plans_img {
    order: 2;
  }
  .cares_priceBlock {
    width: 100%;
    order: 3;
  }
  #contact_form_section {
    flex-direction: column-reverse;
    align-items: center;
  }
  #contact_form_section > * {
    width: 400px;
    min-height: 280px;
  }
}
@media (max-width: 600px) {
  .img_1-4 {
    width: 50%;
  }
  .disapear600 {
    display: none;
  }
}
@media (max-width: 400px) {
  nav {
    display: none;
  }
  main {
    margin: 0;
  }
  #bons_plans_img > img {
    max-width: 60%;
    margin: 20px 2em 0 0;
  }
  #contact_form_section > * {
    width: 100%;
  }
  dialog {
    padding: 0;
  }
}
